
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MTLLayout.cshtml";
}
<!--begin::Portlet-->
<div class="m-portlet m-portlet--rounded container" style="width: 66%;">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Ecommerce
                    <small>
                        what is our project?
                    </small>
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        An electronic Commerce projects management system is a web application that allows customers that
        have Products to be able to Market their products by communicating with Marketing Directors and
        Marketing Team Leaders to market their products in an easy and professional way.

    </div>
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Customer page Layout :
                    <small>
                        what can Marketing Directors do?
                    </small>
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        MD Statistical diagrams that shows his Qualifications
        and experience.
        All the Current projects that he managing it.
        All the previous projects that he delivered it (history).
        Creating teams Module.
        Control Projects Module.


    </div>

</div>
<!--end::Portlet-->
