@model IA_E_commerce_.ModelView.MTLPostsAndTeams
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MTLLayout.cshtml";
}





<div class="container">

    @foreach (var item in Model.MTLPosts)
    {
        var postImages = Model._context.Images.ToList().Where(x => x.PostID == item.Id);

        <div class="card " style="width: 50%; margin-left:150px; ">

            <!-- Card image -->
            @foreach (var x in postImages)
            {

                var base64 = Convert.ToBase64String(x.ImageValue);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                <img class="card-img-top" src='@imgsrc' style="padding-top: 11px;height: 500px;" alt="Card image cap" />

                break;


            }
            <!--<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" style="padding-top: 11px;" alt="Card image cap">

            <!-- Card content -->
                <div class="card-body">


                    <!-- Title -->
                    <h4 class="card-title">@Html.ActionLink(@item.Title, "PostDetails", "CreatePost", new { id = item.Id }, null)</h4>
                    <!-- Text -->
                    <p class="card-text">@item.Description</p>
                    <!-- Button -->

                    @{
                        if (item.delivered == true)
                        {
                            <span class="bbtn m-btn m-btn--pill m-btn--gradient-from-metal m-btn--gradient-to-accent">
                                Delivered
                            </span>
                        }
                        else if (item.delivered == false)
                        {
                            <span class="btn m-btn m-btn--pill m-btn--gradient-from-metal m-btn--gradient-to-accent">
                               Not Delivered
                            </span>
                        }
                    }


                </div>

        </div>
    }

</div>