@model IA_E_commerce_.Models.ApplicationUser

@{
    /**/

    ViewBag.Title = "updateProfile";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
}
<div class="m-content">
    <h1>this is index</h1>
</div>
