@model IA_E_commerce_.ModelView.AllTeams

@{
    ViewBag.Title = "RemoveMembers";
    Layout = "~/Views/Shared/_MDLayout.cshtml";
}

<h2>Remove Marketing Trainee</h2>


<hr />

<tbody class="m-datatable__body" style="">
    @for (int i = 0; i < Model.Team.Count; i++)

    {

        <tr data-row="0" class="m-datatable__row" style="left: 0px;">
            @if (Model.Team[i].MTID != null)
            {
                <td>
                    @Html.ActionLink("Delete", "DeleteMT", "MD", new { id = Model.Team[i].MTID, projectID = Model.Team[i].Project_id }, new { @class = "btn m-btn--pill    btn-danger" })

                </td>
            }
        </tr>

    }

</tbody>



<dl class="dl-horizontal"></dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
