@model  IA_E_commerce_.ModelView.PostImages

@{
    ViewBag.Title = "EditPostImages";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="m-content">
    <div class="row">

        <div class="container" style="margin: 20px;border-radius: 11px;width: 97%;">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    Edit Post Images
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="m-section">
                    <h1 class="m-section__heading">
                        Images
                    </h1>
                    <div class="m-portlet m-portlet--tab container" style="margin: 20px;border-radius: 11px;width: 97%;">
                        <h2 style="text-align: center;padding-top: 32px;font-weight: 500;">Add Images To Project</h2>

                        @using (Html.BeginForm("AddImagesForPost", "CreatePost", FormMethod.Post, new { enctype = "multipart/form-data", @class = "m-form m-form--fit m-form--label-align-right" }))
                        {

                            <div class="m-portlet__body">



                                <div class="form-group m-form__group">

                                    @Html.Label("Images", new { @class = "exampleInputEmail1" })

                                    <div></div>

                                    <div class="custom-file">

                                        <input type="file" class="custom-file-input" id="customFile" name="image1" multiple />
                                        <label class="custom-file-label" for="customFile">
                                            Choose file
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">

                                    <input type="submit" class="btn btn-primary" value="Add" />
                                </div>
                            </div>

                        }
                    </div>
                    <span class="m-section__sub">
                        <div class="row">
                            @foreach (var x in Model.img)
                            {

                                var base64 = Convert.ToBase64String(x.ImageValue);
                                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                <div class="col-md-6">
                                    <img src='@imgsrc' style="width:350px;height:350px;margin-bottom: 20px;" />
                                    <div>@Html.ActionLink("Delete", "DeleteImage", "CreatePost", new { id = x.Id }, null)</div>
                                </div>

                            }
                        </div>


                    </span>

                </div>
            </div>
        </div>
    </div>
</div>