@model  IA_E_commerce_.ModelView.AllPosts
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<div class="container root">
    @foreach (var item in Model.pst)
    {

        var postImages = Model._context.Images.ToList().Where(x => x.PostID == item.Id);
    <div class="card">


        @*<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" style="padding-top: 11px;" alt="Card image cap">*@
        <div class="img">
                @foreach (var x in postImages)
                {

                    var base64 = Convert.ToBase64String(x.ImageValue);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            <div class="col-md-4">
                <img src='@imgsrc' style="max-width:100px;max-height:100px" />
            </div>


                }
            </div>
        

        
    </div>
}

</div>
</div>