
@{
    ViewBag.Title = "StatisticalDiagrams";
    Layout = "~/Views/Shared/_MTLayout.cshtml";
}

<div class="col-md-6">

    <canvas id="pieChart"></canvas>
</div>

<div class="col-md-6">
    <canvas id="doughnutChart"></canvas>
    </div>
